* {
    margin: 0;
    padding: 0;
    display: border-box;
}

.app__background {
    background-color: rgb(49, 59, 88);
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
}

.card {
    height: 150px;
    width: 150px;
    /* background-color: aliceblue; */
    border-radius: 12px;
    border: 3px solid transparent;
}

.card-front {
    background-color: aliceblue;
    border: 3px solid aliceblue;
    border-radius: 14px;
    padding: 2rem;
    font-size: 4.5rem;
    text-align: center;
}



.card:hover {
    /* transition: 100ms; */
    border: 3px solid yellow;
    border-radius: 15px;
    
}

/* Make grid size reactive when adding grid options in game later */
.board {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 1rem;
}

.hide {
    font-size: 0;
    opacity: 0;
}

.score {
    display: flex;
    gap:1rem;
    justify-content: space-around;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.score-counter {
    font-size: 2rem;
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 4em;
    display: block;
}

.removed-card {
    opacity: 0.1;
    transition: opacity 250ms ease-in-out;
}

.start-game-button {
    width: 6rem;
    height: 2rem;
}

.quit-game {
    border: solid rgb(42, 39, 25);
    background-color: transparent;
    color: aliceblue;
    border-radius: 10px;
    padding:1em;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.quit-game:hover {
    border: solid yellow;
}