* {
    margin: 0;
    padding: 0;
}

.app__background {
    background-color: rgb(49, 59, 88);
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: aliceblue;
    /* border: 12px solid rgb(233, 233, 233);; */
    border-radius: 14px;
    padding: 2rem;
    font-size: 4.5rem;
    text-align: center;
}

.selectable {
    height: 150px;
    width: 150px;
    background-color: aliceblue;
    border-radius: 12px;

}

.selectable:hover {
    /* transition: 100ms; */
    border: 3px solid yellow;
    border-radius: 15px;
    

}

/* Make grid size reactive when adding grid options in game later */
.board {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);

    gap: 1rem;
}

.hide {
    font-size: 0;
    opacity: 0;
}

.score-counter {
    font-size: 4rem;
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    max-width: 1em;
}

.removed-card {
    opacity: 0.1;
    transition: opacity 250ms;
}
