* {
    margin: 0;
    padding: 0;
}

.app__background {
    background-color: rgb(49, 59, 88);
    min-height: 100vh;
}

.card {
    background-color: aliceblue;
    border: 2px solid rgb(184, 184, 184);;
    border-radius: 12px;
    padding: 2rem;
    font-size: 3rem;

    max-width: 5rem;
    max-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
    /* transition: 100ms; */
    border: 3px solid yellow;

}


.selected {
    transform: scale(1.0);
    border: 5px solid yellow;
}

/* Make grid size reactive when adding grid options in game later */
.board {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);

    gap: 1rem;
}