* {
    margin: 0;
    padding: 0;
}

.app__background {
    background-color: rgb(49, 59, 88);
    min-height: 100vh;
}

.card {
    background-color: aliceblue;
    border: 2px solid rgb(184, 184, 184);;
    border-radius: 12px;
    padding: 2rem;
    font-size: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.selectable:hover {
    transform: scale(1.00);
    /* transition: 100ms; */
    border: 3px solid yellow;
    border-radius: 15px;
    height: 150px;
    width: 150px;

}

/* Make grid size reactive when adding grid options in game later */
.board {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);

    gap: 1rem;
}

.hide {
    font-size: 0;
    opacity: 0;
}